<ion-view title="Project">
    <ion-content padding="true" class="has-header">
        <form class="list" ng-controller="addProjectCtrl">>
            <label class="item item-input" name="projectname">
                <span class="input-label">ProjectName</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span><textarea placeholder=""> description</textarea>
            </label>
            <label class="item item-input" name="projectmanager">
                <span class="input-label">Project Manager</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Funds Allocated</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input" name="startdate">
                <span class="input-label">Start Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">End Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>