<ion-view view-title="Home">
	<ion-pane>
		<ion-content ng-controller="HomeCtrl">
			<div><p> Hello {{userName}} </p></div>
			<!--<div class="button-bar">
				<button class = "button button-outline button-positive ion-ios-folder">Projects</button>
				<button class = "button button-outline button-positive ion-cash">Funds</button>
			</div>
			<div class="button-bar">
				<button class = "button button-outline button-positive ion-ios-people">Personnel</button>
				<button class = "button button-outline button-positive ion-ios-location">Location</button>
			</div>
			<div class="button-bar">
				<button class = "button button-outline button-positive ion-ios-paper">Inventory</button>
				<button class = "button button-outline button-positive ion-ios-analytics">Analysis</button>
			</div>
			-->
			<ion-list>
				<ion-item ng-repeat="project in projects">
    				{{project.projectName}}
 		 		</ion-item>
			</ion-list>
			<ion-list>
				<ion-item ng-repeat="location in locations">
    				{{location.districtName}}
 		 		</ion-item>
			</ion-list>
			<ion-list>
				<ion-item ng-repeat="instance in instances">
    				{{instance.address}}
 		 		</ion-item>
			</ion-list>			
			<ion-list>
				<ion-item ng-repeat="person in people">
    				{{person.employeeName}}
 		 		</ion-item>
			</ion-list>			
			<ion-list>
				<ion-item ng-repeat="item in items">
    				{{item.itemName}}
 		 		</ion-item>
			</ion-list>			
    	</ion-content>
	</ion-pane>
</ion-view>