<ion-view view-title="Projects">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
            </div>
        </div>
    </ion-content>
</ion-view>
