<ion-view view-title="Home Page" align-title="left">
    <ion-content ng-controller="HomeCtrl">
        <div>
			<p>Hello {{userName}} </p>
        </div>
			<button ui-sref="modifyMail" class="button button-full button-assertive">Change Mail</button>
			<button ui-sref="modifyPassword" class="button button-full button-royal">Change Password</button>
			<button ui-sref="deleteUser" class="button button-full button-calm">Delete Account</button>
			<button ui-sref="profile" class="button button-full button-energized">View Profile</button>
			<button class="button button-full button-dark ink" ng-click="logOut()">Log Out</button>
		</div>
    </ion-content>
</ion-view>