<ion-view view-title="Login">
    <ion-content ng-controller="LoginCtrl">
	    <div>
            <h1>ProNirvahana</h1>
        </div>
        <div>
			<label class="item item-input">
			<input type="text" placeholder="User Mail" ng-model="userMail">
			</label>
			<label class="item item-input">
			<input type="password" placeholder="Password" ng-model="userPassword">
			</label>
        </div>
        <div>
            <button class="button button-full button-assertive ink" ng-click="loginUser()">Login</button>
			<button class="button button-full button-balanced ink" ng-click="forgotPassword()">Forgot Password</button>
			<button ui-sref="signUp" class="button button-full button-positive">Sign Up</button>
			<button ui-sref="register" class="button button-full button-energized">Register Organisation</button>
        </div>
		
    </ion-content>
</ion-view>
