<ion-view view-title="Register Organisation">
    <ion-content ng-controller="RegisterCtrl">
        <div>
			<label class="item item-input">
			<input type="text" placeholder="Organisation Name" ng-model="orgName">
			</label>
			<label class="item item-input">
			<input type="text" placeholder="Organisation Mail" ng-model="orgMail">
			</label>
			<button class="button button-full button-assertive" ng-click="registerOrganisation()">Save</button>
			<button class="button button-full button-energized" ng-click="cancelRegistration()">Cancel</button>
        </div>
    </ion-content>
</ion-view>


