<ion-view view-title="User Sign Up">
    <ion-content ng-controller="SignUpCtrl">
        <div>
			<label class="item item-input">
			<input type="text" placeholder="User Name" ng-model="userName">
			</label>
			<label class="item item-input">
			<input type="text" placeholder="User Mail" ng-model="userMail">
			</label>
			<label class="item item-input">
			<input type="password" placeholder="Password" ng-model="userPassword">
			</label>
			<label class="item item-input">
			<input type="text" placeholder="Organisation Code" ng-model="userOrgCode">
			</label>
			
			<button class="button button-full button-assertive" ng-click="registerUser()">Save</button>
			<button class="button button-full button-energized" ng-click="cancelUserRegister()">Cancel</button>
        </div>
    </ion-content>
</ion-view>