<ion-view view-title="Home">
	<ion-pane>
		<ion-content scroll="false" ng-controller="HomeCtrl">
			<div><p> Hello {{userName}} </p></div>
			<div class="button-bar">
				<button class = "button button-outline button-positive ion-ios-folder">Projects</button>
				<button class = "button button-outline button-positive ion-cash">Funds</button>
			</div>
			<div class="button-bar">
				<button class = "button button-outline button-positive ion-ios-people">Personnel</button>
				<button class = "button button-outline button-positive ion-ios-location">Location</button>
			</div>
			<div class="button-bar">
				<button class = "button button-outline button-positive ion-ios-paper">Inventory</button>
				<button class = "button button-outline button-positive ion-ios-analytics">Analysis</button>
			</div>
    	</ion-content>
	</ion-pane>
</ion-view>
