<ion-view view-title="Register Organisation" align-title="left">
    <ion-content style="background: url(img/bg_blue.png) center; background-size: cover;" ng-controller="RegisterCtrl">
	<div class="hero no-header flat">
        <div class="content">
			<h3 style="font-family:georgia; color:black">Register Organisation</h3>
			<br>
			<h4>All the fields are necessary for registering the organisation</h4>
			<h5 style="color:red; font-style:bolder">{{orgData.ErrorMessage}}</h5>
        </div>
    </div>
	<div class="list list-inset">
		<label class="item item-input" style="background-color:#E0E0E0; color:black">
			<input type="text" placeholder="Organisation Name" ng-model="orgData.orgName" ng-click="resetRegOrgFields()">
		</label>
	</div>
	<div class="list list-inset">
		<label class="item item-input" style="background-color:#EEEEEE; color:black">
			<input type="text" placeholder="E-Mail" ng-model="orgData.orgMail" ng-click="resetRegOrgFields()">
		</label>
	</div>	
    <div class="button-bar">
		<a class="button button-assertive" ng-click="registerOrganisation()">Save</a>
		<a class="button button-energized" ng-click="cancelRegistration()">Cancel</a>
    </div>
    </ion-content>
</ion-view>