<ion-view view-title="User Sign Up" align-title="left">
    <ion-content style="background: url(img/bg_blue.png) center; background-size: cover;" ng-controller="SignUpCtrl">
	<div class="hero no-header flat">
        <div class="content">
			<h3 style="font-family:georgia; color:black">User Sign Up</h3>
			<br>
			<h4>All the fields are necessary for registering the organisation</h4>
			<h5 style="color:red; font-style:bolder">{{userData.ErrorMessage}}</h5>
        </div>
    </div>
	<div class="list list-inset">
		<label class="item item-input" style="background-color:#E0E0E0; color:black">
			<input type="text" placeholder="Name" ng-model="userData.userName" ng-click="resetSignFields()">
		</label>
	</div>
	<div class="list list-inset">
		<label class="item item-input" style="background-color:#EEEEEE; color:black">
			<input type="text" placeholder="E-Mail" ng-model="userData.userMail" ng-click="resetSignFields()">
		</label>
	</div>
	<div class="list list-inset">
		<label class="item item-input" style="background-color:#E0E0E0; color:black">
			<input type="password" placeholder="Password" ng-model="userData.userPassword" ng-click="resetSignFields()">
		</label>
	</div>
	<div class="list list-inset">
		<label class="item item-input" style="background-color:#EEEEEE; color:black">
			<input type="password" placeholder="Organisation Code" ng-model="userData.userOrgCode" ng-click="resetSignFields()">
		</label>
	</div>
	<div class="button-bar">
		<a class="button button-assertive" ng-click="registerUser()">Save</a>
		<a class="button button-energized" ng-click="cancelUserRegister()">Cancel</a>
	</div>
    </ion-content>
</ion-view>